$color1: #1b1b1b;
$color2: #ffffff;
$color3: #efefef;
$color4: #ABCDE1;
$color6: #5F5E5E;
$color5: #373737 ;

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    background-color: var($color1);
    color: var($color2);
    letter-spacing: .05rem;
}

.lead-xl{
    font-size: 1.75rem;
}

.nav-link{
    margin-left: 2rem;
}

.sideways{
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem;
    transform: rotate(-180deg);
}

/* HOME */

.btn-primary{
    background-color: transparent;
    border: 1px solid var($color2);
    border-radius: 0;
    color: var($color2);
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
}

.btn-primary:hover{
    background-color: var($color2);
    color: $color1;
    border: 1px solid var($color2);
}

.navbar{
    height: 5rem;
}

.border-right{
    border: 1px solid rgba(256, 256, 256, .1) !important;
}

.nav-item:hover{
    color: var($color1);
    background-color: var($color2);
}

.row-home:hover{
    background-color: var($color5);
    color: var($color4);
    border-radius: .5rem;
}

/* FOOTER */

.footer-color{
    background-color: var($color6)
}
.copyright{
    background-color: var($color1);
}